body{
    margin: 0;
    padding: 0;
    background-color: #D6E4E5;
}

/* navbar */
.button1{
    margin-left: 1.875rem;
}

.navbar .h1{
    color: #EFF5F5;
    padding: 0.0625rem;
}

.navbar .nav-link{
    color:#EFF5F5;
    padding: 0.0625rem;
}

#navbar{
    background-color: #EB6440;
    
}

/* content */

#content h1{
    color:#497174;
    text-align: center;
    margin-top: 3%;
    font-size: 5rem;
    font-family: cursive
}

/* image */
img{
    margin-left: 35%;
    margin-top: 1%;
    width: 30%;
    display: inline;
}

/* button */
button{
    margin-top: 2%;
}
.Heads{
    margin-left: 8%;
}
.Tails{
    margin-left: 40%;
}

/* mobile optimisation */
@media screen and (max-width: 800px) {
    img{
        margin-left: 30%;
        margin-top: 1%;
        width: 50%;
    }

    /* button */
button{
    margin-top: 2%;
}
.Heads{
    margin-left: 6%;
}
.Tails{
    margin-left: 32%;
}

}